<header>
  <mat-toolbar>
    <div class="conteudo-toolbar">
      <div class="esquerda">
        <!-- Marca com rota para página inicial-->
        <a class="marca" routerLink="/">
          <mat-icon>support_agent</mat-icon>
          <span>FlowDesk</span>
        </a>
      </div>

      <nav class="centro">
        <!-- Menu de navegação -->
        <a
          matButton
          routerLink="/"
          routerLinkActive="ativo"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Painel
        </a>

        <a matButton routerLink="/chamados" routerLinkActive="ativo"> Chamados </a>
      </nav>

      <div class="direita">
        <!-- Botão de criação de chamados -->
        <a mat-flat-button routerLink="/chamados/novo"> Novo chamado </a>
      </div>
    </div>
  </mat-toolbar>
</header>
