mat-dialog-content {
  display: grid;
  gap: 24px;
}

.bloco-informacoes {
  display: grid;
  gap: 12px;
}

.linha-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 600px) {
  .linha-grid {
    grid-template-columns: 1fr;
  }
}

.linha-centro {
  display: flex;
  justify-content: center;
}

.destaque {
  margin-left: 6px;
  padding: 2px 8px;
  border-radius: 8px;

  background: var(--mat-sys-surface-variant);
  color: var(--mat-sys-on-surface-variant);
}

.prazo-custo {
  display: flex;
  justify-content: space-between;

  width: 80%;
  margin: 0 auto;

  padding: 8px 16px;
  border-radius: 12px;

  background: var(--mat-sys-surface-container);
  border: 1px solid var(--mat-sys-outline-variant);
}

.prazo-custo > :only-child {
  margin: 0 auto;
}

.secao {
  display: grid;
  gap: 8px;
}

h3 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
  color: var(--mat-sys-on-surface);
  line-height: 1.4;
}
